section{
    p {
        margin: 2.5rem;
    }
    .section-heading {
        margin-top: 0;
    }
    a{
        color: $theme-primary !important;
    }
    .service-box {
        max-width: 400px;
        margin: 50px auto 0;
        @media (min-width: 992px) {
            margin: 20px auto 0;
        }
        p {
            margin-bottom: 0;
        }
    }

    .flip {
        height: 75%;
        transform: scaleX(1);
    }

    .align-items-center {
        display: flex;
        align-items: center!important;
    }
}