// .experience-tl {
//   .default-tl {
//     content: '';
//     position: absolute;
//     margin-left: 24%;
//     width: 5px;
//     // background-color: transparent;
//     height: 1170px;
//   }
//   .draw-tl {
//     // width: 5px;
//     height: 0;
//     position: absolute;
//     // margin-left: 24%;
//     // background-color: $brand-color;
//     top: 95px;
//   }

//   ul li {
//     list-style-type: none;
//     position: relative;
//     height: 400px;

//     // display: none;
//   }
//   &::before {
//     content: '';
//     position: absolute;
//     left: 50%;
//     top: 0;
//     transform: translateX(-50%);
//     width: 12px;
//     height: 12px;
//     border-radius: 50%;
//     background: inherit;
//     background: transparent;
//     transition: all 1s ease-in;
//   }
// }

ul li {
  list-style-type: none;
  min-height: 350px;
}
.fa-icon-bg {
  border: 5px solid $brand-color;
  border-radius: 50px;
  padding: 15px;
  background-color: $background-color;
}

i, div.exp-content {
  visibility: hidden;
}

.in-view i {
  animation: fade-in 1s 1;
  visibility: visible;
}
.in-view div.exp-content {
  animation: fade-right 1s 1;
  visibility: visible;
}

@keyframes fade-in {
  0% {
    // visibility: visible;
      opacity: 0;
  }
  100%{
      opacity: 1;
  }
}

@keyframes fade-right {
    0% {
      opacity: 0;
      transform: translateX(-200px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
}