.skills-box{
    min-height: 315px;
}

section {
    align-items: center;
    hr {
        border-color: $theme-secondary;
        border-width: 3px;
        max-width: 50px;
        margin: 30px auto;
    }
    
    hr.light {
        border-color: white;
    }
    .fa-color-primary {
        color: $theme-secondary;
    }
    .skill-text {
        .text-muted {
            line-height: 1.5rem;
        }
    }
    @keyframes load{
        from {
          width: 0%
        }
    }
      @-webkit-keyframes load{
        from {
          width: 0%
        }
    }
      @-moz-keyframes load{
        from {
          width: 0%
        }
    }
      @-o-keyframes load{
        from {
          width: 0%
        }
    }
    .skills-pd {
        margin: 0 40px;
    }

    .bar-animation::before {
        content:  attr(data-skill);
        background-color: $theme-secondary;
        display: inline-block;
        padding: 5px 0 5px 10px;
        border-radius: inherit;
        animation: load 2s 0;
        -webkit-animation: load 2s 1;
        -moz-animation: load 2s 1;
        -o-animation: load 2s 1;
        
    }
    .bar{
        background-color: $grey-color-light;
        padding: 2px;
        border-radius: 15px;
        margin-bottom: 5px;
        font-size: 14px;
        color: $background-color;
        line-height: $base-line-height;
        font-weight: bold;
        // text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    }
    .bar::before{
        // content:  attr(data-skill);
        // background-color: $theme-secondary;
        // display: inline-block;
        // padding: 5px 0 5px 10px;
        // border-radius: inherit;
        
    }
    
    .bar.front::before{
        background-color: $theme-secondary;
    }
    .bar.back::before{
        background-color: $theme-secondary;
    }
    
    .bar.learning::before{
        width: calc(20% - 10px);
    }
    .bar.basic::before{
        width: calc(40% - 10px);
    }
    .bar.intermediate::before{
        width: calc(60% - 10px);
    }
    .bar.advanced::before{
        width: calc(80% - 10px);
    }
    .bar.proficient::before{
        width: calc(100% - 10px);
    }

}